<ifModule mod_rewrite.c>

    RewriteEngine On

    RewriteRule ^profil/([0-9]+).html$ pagePatient.php?id=$1
    RewriteRule ^rdv/([0-9]+).html$ rendezvous.php?id=$1

    ErrorDocument 404     /404.php

</ifModule>